body {
    margin: 0;
    background-color: black;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    margin: 2px;
    border-radius:30px ;
    min-width: 10px;
    background: green;
}
h1 {
    color: white;
    cursor: pointer;
}